body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.centered{
    position: fixed;
    transform: translate(-50%, -50%);
    animation: rotate 40s linear infinite;
    opacity: 0.3;
}
@keyframes rotate {
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
#image1{
    left:150px;
    top:700px;
    width:700px;
}
#image2{
    left: 1600px;/*1600px*/
    top: 100px;/*100px*/
    width: 500px;
}
.image{
    position: absolute;
    background-image: url(../images/1.png);
    background-size: cover;
    top:0;
    left:50%;
    transform: translateX(-50%);
    animation: move 10s linear forwards,rotate3D 10s linear forwards,fadeInOut 10s linear forwards;
}
@keyframes move {
    0%{
        top:var(--start-top);
        left:var(--start-left);
    }
    100%{
        top:var(--end-top);
        left:var(--end-left);
    }
}
@keyframes rotate3D {
    0%{
        transform: translateX(-50%) rotate3d(0,0,0,0deg);
    }
    100%{
        transform: translateX(-50%) rotate3d(var(--rotateX),var(--rotateY),var(--rotateZ),var(--rotateDeg));
    }
}
@keyframes fadeInOut{
    0%{
        opacity: 0;
    }
    17%{
        opacity: 0.3;
    }
    83%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
}